In [1]:
import requests
import bs4
from bs4 import BeautifulSoup
import pandas as pd

### Method 1

In [ ]:
INDEED_URL='http://www.indeed.com/jobs?q=Data+Scientist&start='

#Creates a dataframe with colums for title, company, location, salary and description.
indeed_ds=pd.DataFrame(columns=['title','company','location','salary','description'])

for i in range (1,10):
    if i==0:
        print i
        r=requests.get(INDEED_URL)
        soup=BeautifulSoup(r.text,"lxml")
        results=soup.findAll('div',{"class":" row result"}) #+ soup.findAll('div',{"class":"row result"})
        for result in results:
            title=''
            company=''
            location=''
            salary=''
            description=''
            try:
                temp=result.select('h2.jobtitle')
                title=temp[0].text.strip()
            except:
                pass
            try:
                temp=result.select('span.company')
                company=temp[0].text.strip()
            except:
                pass
            try:
                temp=result.select('span.location')
                location=temp[0].text.strip()
            except:
                pass
            try:
                temp=result.select('td.snip')
                salary=temp[0].text.strip()
            except:
                pass
            try:
                temp=result.select('span.summary')
                description=temp[0].text.strip()
            except:
                pass
            indeed_ds.loc[len(indeed_ds)]=[title,company,location,salary,description]            

    else:
#         if (i%100==0):
        print i
        INDEED_URL_UNIQUE=INDEED_URL+str(i*10)
        r=requests.get(INDEED_URL_UNIQUE)
        soup=BeautifulSoup(r.text,"lxml")
        results=soup.findAll('div',{"class":" row result"}) #+soup.findAll('div',{"class":"row result"})
        for result in results:
            title=''
            company=''
            location=''
            salary=''
            description=''
            try:
                temp=result.select('h2.jobtitle')
                title=temp[0].text.strip()
            except:
                pass
            try:
                temp=result.select('span.company')
                company=temp[0].text.strip()
            except:
                pass
            try:
                temp=result.select('span.location')
                location=temp[0].text.strip()
            except:
                pass
            try:
                temp=result.select('td.snip')
                salary=temp[0].text.strip()
            except:
                pass
            try:
                temp=result.select('span.summary')
                description=temp[0].text.strip()
            except:
                pass
            indeed_ds.loc[len(indeed_ds)]=[title,company,location,salary,description]   
indeed_ds

In [ ]:
indeed_ds.shape

In [ ]:
len(indeed_ds['location'].unique())

In [ ]:
indeed_ds['description']

___

### Method 2

In [36]:
URL = "https://www.indeed.com/q-data-scientist-salary-$50,000-l-New-York-jobs.html"
response = requests.get(URL)
html = response.text
soup = BeautifulSoup(html, 'html.parser', from_encoding="utf-8")

In [37]:
rowresult = soup.find_all("div", {"class": " row result"})[0]

In [38]:
print rowresult.prettify()

<div class=" row result" data-jk="413e4af45f2a192a" data-tn-component="organicJob" id="p_413e4af45f2a192a">
 <h2 class="jobtitle" id="jl_413e4af45f2a192a">
  <a class="turnstileLink" data-tn-element="jobTitle" href="/rc/clk?jk=413e4af45f2a192a&amp;fccid=8f0f33c2ec902ebc" onclick="setRefineByCookie(['salest']); return rclk(this,jobmap[0],true,0);" onmousedown="return rclk(this,jobmap[0],0);" rel="noopener nofollow" target="_blank" title="Jr. Research Analyst">
   Jr. Research Analyst
  </a>
 </h2>
 <span class="company">
  ValuePenguin
 </span>
 -
 <span class="location">
  New York, NY
 </span>
 <table border="0" cellpadding="0" cellspacing="0">
  <tr>
   <td class="snip">
    <div class="">
     <span class="summary">
      Review and update in-house
      <b>
       data
      </b>
      for quality assurance purposes. Analysts will develop proficiency and participate in article writing, consumer research,
      <b>
       data
      </b>
      ...
     </span>
    </div>
    <div class="result-link-bar-container">
     <div class="result-link-bar">
      <span class="date">
       30+ days ago
      </span>
      <span class="tt_set" id="tt_set_0">
       -
       <a class="sl resultLink save-job-link " href="#" id="sj_413e4af45f2a192a" onclick="changeJobState('413e4af45f2a192a', 'save', 'linkbar', false, ''); return false;" title="Save this job to my.indeed">
        save job
       </a>
       -
       <a class="sl resultLink more-link " href="#" id="tog_0" onclick="toggleMoreLinks('413e4af45f2a192a'); return false;">
        more...
       </a>
      </span>
      <div class="edit_note_content" id="editsaved2_413e4af45f2a192a" style="display:none;">
      </div>
      <script>
       if (!window['result_413e4af45f2a192a']) {window['result_413e4af45f2a192a'] = {};}window['result_413e4af45f2a192a']['showSource'] = false; window['result_413e4af45f2a192a']['source'] = "ValuePenguin"; window['result_413e4af45f2a192a']['loggedIn'] = false; window['result_413e4af45f2a192a']['showMyJobsLinks'] = false;window['result_413e4af45f2a192a']['undoAction'] = "unsave";window['result_413e4af45f2a192a']['relativeJobAge'] = "30+ days ago";window['result_413e4af45f2a192a']['jobKey'] = "413e4af45f2a192a"; window['result_413e4af45f2a192a']['myIndeedAvailable'] = true; window['result_413e4af45f2a192a']['showMoreActionsLink'] = true; window['result_413e4af45f2a192a']['resultNumber'] = 0; window['result_413e4af45f2a192a']['jobStateChangedToSaved'] = false; window['result_413e4af45f2a192a']['searchState'] = "q=data scientist salary $50,000&amp;l=New+York"; window['result_413e4af45f2a192a']['basicPermaLink'] = "https://www.indeed.com"; window['result_413e4af45f2a192a']['saveJobFailed'] = false; window['result_413e4af45f2a192a']['removeJobFailed'] = false; window['result_413e4af45f2a192a']['requestPending'] = false; window['result_413e4af45f2a192a']['notesEnabled'] = true; window['result_413e4af45f2a192a']['currentPage'] = "serp"; window['result_413e4af45f2a192a']['sponsored'] = false;window['result_413e4af45f2a192a']['reportJobButtonEnabled'] = false; window['result_413e4af45f2a192a']['showMyJobsHired'] = false; window['result_413e4af45f2a192a']['showSaveForSponsored'] = false; window['result_413e4af45f2a192a']['showJobAge'] = true;
      </script>
     </div>
    </div>
    <div class="tab-container">
     <div class="more-links-container result-tab" id="tt_display_0" style="display:none;">
      <a class="close-link closeLink" href="#" onclick="toggleMoreLinks('413e4af45f2a192a'); return false;" title="Close">
      </a>
      <div class="more_actions" id="more_0">
       <ul>
        <li>
         <span class="mat">
          View all
          <a href="/q-Valuepenguin-l-New-York,-NY-jobs.html" rel="nofollow">
           ValuePenguin jobs in New York, NY
          </a>
          -
          <a href="/l-New-York,-NY-jobs.html">
           New York jobs
          </a>
         </span>
        </li>
        <li>
         <span class="mat">
          Salary Search:
          <a href="/salaries/Junior-Research-Analyst-Salaries,-New-York-NY" onmousedown="this.href = appendParamsOnce(this.href, '?campaignid=serp-more&amp;fromjk=413e4af45f2a192a&amp;from=serp-more');">
           Junior Research Analyst salaries in New York, NY
          </a>
         </span>
        </li>
        <li>
         <span class="mat">
          Learn more about working at
          <a href="/cmp/Valuepenguin" onmousedown="this.href = appendParamsOnce(this.href, '?fromjk=413e4af45f2a192a&amp;from=serp-more&amp;campaignid=serp-more&amp;jcid=dde7eb600d4bf993');">
           Valuepenguin
          </a>
         </span>
        </li>
        <li>
         <span class="mat">
          Related forums:
          <a href="/forum/cmp/Valuepenguin.html">
           ValuePenguin
          </a>
          -
          <a href="/forum/job/Research-Analyst.html">
           Research Analyst
          </a>
          -
          <a href="/forum/loc/New-York-New-York.html">
           New York, New York
          </a>
         </span>
        </li>
       </ul>
      </div>
     </div>
     <div class="dya-container result-tab">
     </div>
     <div class="tellafriend-container result-tab email_job_content">
     </div>
     <div class="sign-in-container result-tab">
     </div>
     <div class="notes-container result-tab">
     </div>
    </div>
   </td>
  </tr>
 </table>
</div>

### Writing functions to extract the following items:
1. Location
2. Company
3. Job
4. Salary
5. Description


- Make sure these functions are robust and can handle cases where the data/field may not be available.
    - Remember to check if a field is empty or `None` for attempting to call methods on it
    - Remember to use `try/except` if you anticipate errors
- Test the functions on the results above and simple examples

In [39]:
def get_company(cos):
    company = ""
    for entry in cos:
        if entry != ("" or None):
            try:
                company = str(entry.find("a").text).lstrip()
            except:
                company = "No Company Listed"
        else:
            company = "No Company Listed"
    return company

In [40]:
get_company(soup.find_all("span", {"class": "company"}))

'No Company Listed'

In [41]:
def get_salary(salaries):
    for entry in salaries:
        if entry != ("" or None):
            try:
                salary = str(entry.find("nobr").text).lstrip()
            except:
                salary = "No Salary Listed"
        else:
            salary = "No Salary Listed"
    return salary

In [42]:
get_salary(soup.find_all("td",{"class":"snip"}))

'No Salary Listed'

In [43]:
def get_jobtitle(titles):
    for entry in titles:
        if entry != ("" or None):
            try:
                jobtitle = str(entry.text).lstrip()
            except:
                jobtitle = "No Job Title Listed"
        else:
            jobtitle = "No Job Title Listed"
    return jobtitle

In [44]:
get_jobtitle(soup.find_all("a", {"data-tn-element":"jobTitle"}))

'Junior Economic Data Analyst'

In [45]:
def get_location(locations):
    for entry in locations:
        if entry != ("" or None):
            try:
                location = str(entry.text).lstrip()
            except:
                location = "No Location Listed"
        else:
            location = "No Location Listed"
    return location

In [46]:
get_location(soup.find_all("span", {"class":"location"}))

'West Point, NY'

In [47]:
def get_description(description):
    for entry in description:
        if entry != ("" or None):
            try:
                description = str(entry.text).lstrip()
            except:
                description = "No Description Listed"
        else:
            description = "No Description Listed"
    return description

In [48]:
get_description(soup.find_all("span", {"class":"summary"}))

'Salary Dependent on Experience; Junior Economic Data Analyst or go to:. Comprised primarily of economists, but also political scientists, data analysts,...'

To scale up the scraping, we need to get results from more locations. 

Now, to scale up our scraping, we need to accumulate more results. We can do this by examining the URL below.

- "http://www.indeed.com/jobs?q=data+scientist+%2420%2C000&l=New+York&start=10"

There are two queries to modify to collect more results:
- `l=New+York`
- `start=10`

The first controls the location of the result and the second is the results pages (by incrementing this number we are able to go further into the search results).

**The following codes are to modify the cities of the search parameter.**

In [49]:
url_template = "http://www.indeed.com/jobs?q=data+scientist+%2420%2C000&l={}&start={}"

max_results_per_city = 10 # Set this to a high-value (5000) to generate more results. 
# A larger number will take a longer period of time. First test your code on a small number of results and then expand.

results = []

for city in set(['New+York', 'Chicago', 'San+Francisco', 'Austin', 'Seattle', 
    'Los+Angeles', 'Philadelphia', 'Atlanta', 'Dallas', 'Pittsburgh', 
    'Portland', 'Phoenix', 'Denver', 'Houston', 'Miami', 'California']):
        for start in range(0, max_results_per_city, 10):
            url = "https://www.indeed.com/jobs?q=data+scientist+%2445%2C000&l="+str(city)+"&start="+str(start)
            response = requests.get(url)
            html = response.text
            results.append(html)
        # Grab the results from the request (as above)
        # Append to the full set of results
        pass

In [50]:
r_50 = ''.join(results)

In [51]:
soup_50 = BeautifulSoup(r_50, 'html.parser', from_encoding='utf-8')

** Using the fuctions above to parse the 5 fields; location, title, company, salary and description. Create a dataframe to store the results.**

In [52]:
ds50 = pd.DataFrame(columns=['location', 'title', 'company', 'salary', 'description'])
ds70 = pd.DataFrame(columns=['location', 'title', 'company', 'salary', 'description'])
ds85 = pd.DataFrame(columns=['location', 'title', 'company', 'salary', 'description'])
ds100 = pd.DataFrame(columns=['location', 'title', 'company', 'salary', 'description'])
ds115 = pd.DataFrame(columns=['location', 'title', 'company', 'salary', 'description'])

In [53]:
for row in soup_50.find_all('div', {'class': ' row result'}):
    location = get_location(soup.find_all("span", {"class":"location"}))
    jobtitle = get_jobtitle(soup.find_all("a", {"class":"turnstileLink"}))
    company = get_company(soup.find_all("span", {"class":"company"}))
    salary = get_salary(soup.find_all("td", {"class":"snip"}))
    description = get_description(soup.find_all("span", {"class":"summary"}))
    ds50.loc[len(ds50)]=[location, jobtitle, company, salary, description] #Makes a new record in the created dataframe with the results.

r_70 = ''.join(results)

soup_70 = BeautifulSoup(r_70, 'html.parser', from_encoding='utf-8')

for row in soup_70.find_all('div', {'class': ' row result'}):
    location = get_location(soup.find_all("span", {"class":"location"}))
    jobtitle = get_jobtitle(soup.find_all("a", {"class":"turnstileLink"}))
    company = get_company(soup.find_all("span", {"class":"company"}))
    salary = get_salary(soup.find_all("td", {"class":"snip"}))
    description = get_description(soup.find_all("span", {"class":"summary"}))
    ds70.loc[len(ds50)]=[location, jobtitle, company, salary, description] #Makes a new record in the created dataframe with the results.

In [54]:
#Creates a list of dataframes
dfs = [ds50, ds70, ds85, ds100, ds115]

Creating a save point to ensure all the data is backed up.

In [55]:
counter = 0
for x in dfs:
    x.to_csv(str(counter)+'.csv')
    counter += 1

Lastly, we need to clean up salary data. 

1. Only a small number of the scraped results have salary information - only these will be used for modeling.
1. Some of the salaries are not yearly but hourly or weekly, these will not be useful to us for now
1. Some of the entries may be duplicated
1. The salaries are given as text and usually with ranges.

#### Find the entries with annual salary entries, by filtering the entries without salaries or salaries that are not yearly (filter those that refer to hour or week). Also, remove duplicate entries

We will create a new column for the salary ranges from the filter searches that we made, called salrange and we will use the lower bracket of the value that we will use to impute the missing values after getting rid of duplicated records and then merging the dataframes.

In [ ]:
ds20['salrange'] = 20000
ds60['salrange'] = 60000
ds100['salrange'] = 100000
ds140['salrange'] = 140000
ds180['salrange'] = 180000
ds220['salrange'] = 220000

In [ ]:
#Checking for missing values
for x in dfs:
    print x.isnull().sum.sort_values(ascending=False)[0:2]

In [ ]:
for x in dfs:
    print x.shape

In [ ]:
#Concatenate all dataframes into 1
df = pd.concat(dfs)

In [ ]:
#Size of df after concatenating all the 5 dataframes together
df.shape

In [ ]:
#Remove any duplicates over the 4 features
df.drop_duplicates(['location', 'salary', 'company', 'title', 'description'], keep='last', inplace=True)

#Keep = 'last' was used to ensure that the value with the upper bound in salary range was kept rather than the lower bound for any duplicates.

In [ ]:
#Size of df after dropping duplicates
df.shape

In [ ]:
df.reset_index(drop=True, inplace=True)